h1{
    font-size: min(11vw, 80px);
    
}

h4{
    text-align: center;
    color: rgb(199, 33, 39);
    font-weight: bold;
    font-size: 30px;
}

.aboutus{
    margin: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 30px;
}

.card-text{
    justify-content: center;
}

.compare{
    width: 100%;
}

.aboutus > p{
    font-size: larger;
}

.row{
    padding-bottom: 40px;
}
