h1{
    font-size: min(11vw, 80px);
    
}

h4{
    text-align: center;
    color: rgb(199, 33, 39);
    font-weight: bold;
    font-size: 30px;
}

.aboutus{
    margin: 20px;
    padding-bottom: 30px;
}

.aboutus p{
    text-align: justify;
}

.card-text{
    justify-content: center;
}

.compare{
    width: 100%;
}


.row{
    padding-bottom: 40px;
}

.container-fluid {
    width: 90%;
}