/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --first-color: rgb(255, 255, 255);
  --first-color-shape: rgb(255, 255, 255);
  --title-color: rgb(199, 33, 39);
  --text-color: rgb(246, 131, 131);
  --header-color: rgb(199, 33, 39);
  --body-color: rgb(255, 223, 223);
  --container-color: rgb(199, 33, 39);
  --title-color-dark: rgb(255, 255, 255);
  --text-color-dark: rgb(255, 190, 190);
  --container-color-dark: rgb(199, 33, 39);
  --header-toggle-color: rgb(255, 190, 190);
  --header-toggle-hidden-color: rgb(199, 33, 39);
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  /*========== z index ==========*/
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container_css {
  margin-left: 1rem;
  margin-right: 1rem;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__height {
  height: 100vh;
}

/*=============== HEADER Y NAV ===============*/
.nav {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: left 0.3s;
  z-index: 99;
}

#close-menu {
  display: none;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.nav__shape {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-shape);
  border-radius: 50%;
  position: absolute;
  top: -2rem;
  left: -2rem;
  filter: blur(90px);
}

.nav__close {
  position: relative;
  display: inline-flex;
  font-size: 1.8rem;
  color: var(--text-color-dark);
  cursor: pointer;
  margin-bottom: 3.5rem;
}

.nav__img {
  block-size: 40px;
}

.nav__mask {
  width: 80px;
  height: 80px;
  background: linear-gradient(224deg, #a22fe9 -2%, #ddaafe 97%);
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.nav__data {
  position: relative;
  margin-bottom: 3rem;
}

.nav__greeting {
  display: block;
  color: var(--text-color-dark);
  font-size: var(--small-font-size);
  font-weight: 500;
  margin-bottom: .25rem;
  font-family: var(--body-font);
}

.nav__name {
  color: var(--title-color-dark);
  font-size: var(--big-font-size);
  line-height: 130%;
}

.nav__list {
  display: flex;
  flex-direction: column;
  /*A linkek közötti távolság*/
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--text-color-dark);
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  transition: .3s;
  text-decoration: none;
  font-family: var(--body-font);
}

.nav__link i {
  font-size: 1.15rem;
}

.nav__link:hover {
  color: var(--title-color-dark);
  text-decoration: none;
}

.main {
  position: relative;
  transition: .4s;
}

.show-menu-border {
  border-left: solid rgb(140, 200, 60) 4px;
}

.header {
  width: 100%;
  background-color: var(--header-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.header__nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo,
.header__toggle {
  color: var(--title-color);
}

.header__logo {
  font-weight: 500;
}

.header__toggle {
  font-size: 1.15rem;
  cursor: pointer;
}

.header-toggle-color {
  color: var(--header-toggle-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
}

/* Active link */
.active-link {
  color: var(--title-color-dark);
}

footer{
  z-index: var(--z-fixed)
}

.jumbotext {
  font-size: 20px;
}

.jumbotron{
  text-align: center;
  padding-top: 30px;
  background-color: rgb(255, 223, 223);
  width: 100%;
  margin-bottom: 50px;

}

.jumbotron > h1{
  font-size: min(11vw, 80px)
}
.main-bg-color {
  background-color: var(--body-color);
  /* Ez azért van bent, hogy a header ne takarja el a weboldal tetejét */
  padding-top: var(--header-height);
}