body {
    background-color: rgb(255, 223, 223);
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
}

p {
    font-size: x-large;
}

.major {
    text-decoration: none;
}

.major:after {
    content: "";
    display: block;
    position: relative;
    width: 30%;
    border-bottom: 5px solid white;
}

input[type=text] {
    border: 2px solid rgb(126, 126, 126);
    border-radius: 4px;
  }

input[type=text]:hover {
    border: 2px solid rgb(82, 82, 82);
    border-radius: 4px;
}

input[type=text] select {
    border: 3px solid black;
    border-radius: 4px;
}
