#content{
    padding-left: 10%;
    padding-right: 10%;
}

body{
    background-color: rgba(255,255,255,.8);
}

#contact{
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
}

#images{
    margin-left: 20%;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

#kep{
    display: block;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#gomb{
    margin-left: 45%;
}

h6{
    color: rgb(199, 33, 39);
    padding-top: 50px;
    font-size: larger;
}

b{
    color: black;
}

#content a{
    color: black;
    padding-left: 20px;
}

#images i{
    margin: auto;
}