/* styles.css importálása, hogy a menü megfelelően jelenjen meg */
@import url("/basic_assets/css/styles.css");

/*=============== A Csapat oldalhoz CSS ===============*/
h2 {
  text-align: center;
  padding: 20px;
  border-top: #000000 50px;
  margin: 0;
}

h1 {
  font-size: 5rem;
}

.csapat-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 223, 223);
  padding: 20px;
  text-align: center;
  height: 450px;
  border: 30px solid transparent;
  
}

.csapat-tag img {
  max-height: 80%;
  height: auto;
  width: auto;
}

p {
  text-align: center;
  color: rgb(246, 131, 131);
}

.oldal-cim {
  text-align: center;
  padding: 20px;
  background-color: rgb(255, 223, 223);
  width: 100%;
  font-size: 50px;
  margin-bottom: 80px;
}

.img-equal {
  height: 100%; /* Set a fixed height to make all images the same height */
  width: auto; /* Maintain the aspect ratio */
}

#alcim {
  font-size: 20px;
  color: rgb(246, 131, 131);
}

/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }

  .icon > .label {
    display: none;
  }

  .icon.alt:before {
    background-color: #ffffff;
    border-radius: 100%;
    color: #242943;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
  }

a.icon.alt:before {
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

a.icon.alt:hover:before {
  background-color: #6fc3df;
}

a.icon.alt:active:before {
  background-color: #37a6cb;
}


/* Icons */

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

  ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
  }

    ul.icons li:last-child {
      padding-right: 0;
    }

  @media screen and (max-width: 736px) {

    ul.icons li {
      padding: 0 0.75em 0 0;
    }

  }

label {
	color: #ffffff;
	display: block;
	font-size: 0.8em;
	font-weight: 600;
	letter-spacing: 0.25em;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}

.info {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.info h2 {
  margin: 0;
}

.info p.position, .info p.email {
  margin: 5px 0;
  text-align: center;
}

.icons .bx {
  color: rgb(246, 131, 131);
}

.bx:hover {
  color: rgb(103, 103, 240);
}

.csapat-tag {
  margin-bottom: 30px;
}

body {
  margin: 0;
  padding: 0;
}

.container.hatter {
  padding-bottom: 20px;
}
